[Unit]
Description=Mount NAS Xvision Server
Requires=NetworkManager-wait-online.service
After=network-online.target
Wants=network-online.target

[Mount]
What=//nas/xvision/
Where=/mnt/nas
Options=_netdev,credentials=/etc/samba/credentials/share,iocharset=utf8,uid=xvision,gid=xvision,rw
Type=cifs
TimeoutSec=1

[Install]
WantedBy=multi-user.target
